*.h5
with_marking.jpg
with_parking.jpg
*.mp4
__pycache__
*.pickle
templates
*.ipynb
pic
identify_parking_spots.py
testFlask.py
test_image.py
webcamDetection.py
api.py
for_cnn/*
.pylintrc
*.avi
test_frame.jpg