<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Parking</title>
    <script src="/static/js/jquery-3.4.0.min.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body>
    <div id="camera-list">
        <img src="/video_feed/{{lotId}}" />
    </div>
    <script>
        $(function() {
            // getDataWithAjax("camera-list", "/video_feed/{{lotId}}", "GET");
        });
    </script>
</body>
</html>